body {
    margin: 15px;
    background: -webkit-linear-gradient(left, rgb(221, 217, 5), #52da7bad); 
    color: white;
}

.col-md-10 {
    float: none !important;

}

.server-info {
    height: 10em;
    position: relative;
}

a#home{
    color: white !important;
}

a{
    color: black;
}

table {
    color: #000 !important;
    overflow:hidden;
    border: 5px solid #d3d3d3 !important;
    background: linear-gradient(to right, #3a37ec, #6bc8cf);
    width: 100%;
    margin: 1% auto 0;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:10px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
 
th, td {
    text-align:center; 
}
 
th {
    padding-top: 1px; 
    text-shadow: 1px 1px 1px #fff;
    background: linear-gradient(to right, #3777ec, #6bcfcb);
}
 
td {
    border-top:1px solid #e0e0e0; 
    border-right:1px solid #e0e0e0;
}
 
tr.odd-row td {
    background: linear-gradient(to right, #3777ec, #6bcfcb);
}
 
td.first, th.first {
    text-align:left
}
 
td.last {
    border-right:none;
}
 
td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}
 
tr.odd-row td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}
 
th {
    background: linear-gradient(to right, #3777ec, #6bcfcb);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}
 
tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}
 
tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}
 
tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}
 
tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}

.pagination>.active>a {
    display: inline-block;
    color: white;
    border-radius: 3px;
    border-bottom: none;
    background: linear-gradient(to right, #eccb3734, #c8cf6bad);
}
  
th:nth-child(3) {
    text-align: center;
}
  
.VueTables__child-row-toggler {
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: block;
    margin: auto;
    text-align: center;
}
  
.VueTables__child-row-toggler--closed::before {
    content: "+";
}
  
.VueTables__child-row-toggler--open::before {
    content: "-";
}