<template>
  <div id="deletePopup">
    
    <div class="modal-mask">
      <div class="modal-wrapper">
          <div class="modal-container">
              <div class="modal-header">
                  <slot name="header">
                      <h3>Deleted post with id #{{$route.params.id}}?</h3>
                  </slot>
              </div>
              <div class="modal-footer">
                <slot name="footer">
                  <router-link id="close" class="btn btn-danger" to="/">No</router-link>
                  <button id="publish" class="btn btn-success" @click="deletePostAtStore()">Ok</button>
                </slot>
              </div>
          </div>
      </div>
        
  </div>
  </div>
</template>

<script>

export default {
   data () {
    return {
      id: this.$route.params.id
    }
  },
  methods: {
    deletePostAtStore() {
      
      this.$store.dispatch('actionDeletePost', this.id);
      this.$router.push('/');
    
    }
  }
}
</script>

<style scoped lang="scss">

.modal-mask { 
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .2s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  text-align: left !important;
  width: 25%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .2s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#close {
  float: left;
}

#sucsses {
  float: right;
}

.showModal {
  color: black;
}
</style>
