<template>
  <div id="editPopup">
      <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="modal-header">
                    <slot name="header">
                        <h3>New post</h3>
                    </slot>
                </div>
                <div class="modal-body">
                    <slot name="body">
                      <h3>Title: <input v-model="title"></h3>
                      <h2>Content: </h2><textarea class="modal-textarea" v-model="content"></textarea>
                    </slot>
                </div>
                <div class="modal-footer">
                  <slot name="footer">
                    <router-link id="close" class="btn btn-danger" to="/">Back</router-link>
                    <button id="publish" class="btn btn-success" @click="addPostAtStore()">Publish</button>
                  </slot>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'newPopup',
  data: function() {
    return {
      id: null,
      title: '',
      content: ''
    }
  },
  methods: {
    addPostAtStore () {

      if (this.title != '' || this.content != '') {

        var postArray = this.$store.state.postArray;

        postArray.forEach((item) => { 
          this.id  = item.id;
        }); 
        this.id++;

        var addPost = {"id": this.id, "title": this.title, "content": this.content};

        this.$store.commit('mutationNewPost', addPost);
      }
    }
  }
}
</script>

<style scoped lang="scss">

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .2s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  text-align: left !important;
  width: 50%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .2s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#close {
  float: left;
}

#sucsses {
  float: right;
}

.showModal {
  color: black;
}

.modal-textarea {
  width: 100%;
  height: 150px;
}
</style>
