<template>
  <div id="tableComponent">
    <router-link to="new-post"><button class="btn btn-success newPost">newPost</button></router-link>
    <div id="tablePosts">
      <v-client-table :data="postArray" :columns="columns" :options="options">
        <div slot="child_row" slot-scope="props">
            <strong>Content</strong>
            <p>{{ props.row.content }}</p>
        </div>
        <router-link slot="edit" slot-scope="props" class="fa fa-pencil-square-o" :to="'edit-post/' + props.row.id"></router-link>
        <router-link slot="delete" slot-scope="props" class="fa fa-times" :to="'del-post/' + props.row.id"></router-link>
         
        </v-client-table>
    </div>
    <div class="deletePopup"> 
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import postArray from '../components/postArray'


export default {
  name: 'tableComponent',
  data () {
    return {
      postArray: postArray,
      columns: [
        'id',
        'title',
        'edit',
        'delete'
      ],
      options: {
        perPageValues: [5,10,15,20,25,50,100],
        perPage: 15,
        headings: {
            title: 'Title'
        },
        sortable: ['id', 'title']
      },
    }
  },

}
</script>

<style scoped lang="scss">
.newPost {
  float: right;
  margin-bottom: 10px;
}
</style>
