<template>
  <div id="app">
    <img class="logo" src="./assets/logo.png">
    
    <div class="liks">
       <router-link to="/">Home</router-link>
    </div>
    
    <router-view></router-view>
    
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style scoped lang="scss">

#app {
  color: #2c3e50;
  text-align: center;
}

.logo { 
  width: 75px;
  height: 75px;
}

</style>
